body {
  font-family: 'Roboto Mono', monospace;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
}

header .header-text {
  margin-left: 1rem;
}

header h1 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}

.logo {
  width: 50px;
  height: auto;
}

main {
  flex: 1;
  padding: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  display: none;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  border-radius: 4px;
}

.dropdown-item {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
}

.dropdown-item:hover {
  background-color: #555;
  color: #fff;
}

a {
  color: #333;
}

a:hover {
  color: #555;
}
